* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  .gift-hero .h1 {
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: SoDoSans_Light, Helvetica, sans-serif;
  }
  .gift-hero .h1 p {
    font-weight: 10px;
  }
  .gift-hero .h2 {
    background-color: rgb(14, 56, 44);
    color: rgb(14, 56, 44);
    height: 42px;
  }
  .gift-hero .h3 ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-right: 30%;
    padding-top: 1.2%;
    background-color: lightgray;
    padding-bottom: 1.3%;
  }
  .gift-hero .h3 ul a {
    text-decoration: none;
    color: black;
  }
  .gift-hero .h3 ul a li {
    font-family: SoDoSans_Light, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(87, 84, 84);
  }
  .gift-hero .h3 ul a:hover {
    color: rgb(39, 90, 62);
    border-bottom: rgb(39, 90, 62) solid;
  }
  
  .anytime-hero h1 {
    padding-top: 1%;
    padding-left: 4%;
    font-size: 200%;
    font-family: SoDoSans_Light, Helvetica, sans-serif;
    border-bottom: rgba(0, 0, 0, 0.438) solid 1.5px;
    margin-right: 8%;
    margin-left: 5%;
  }
  .anytime-hero .anytime-container .anytime-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 6%;
  }
  .anytime-hero .anytime-container .anytime-card .card {
    display: flex;
    background-color: rgb(249, 249, 249);
    border: rgb(168, 165, 165) solid 2px;
    border-radius: 20px;
    width: 340px;
    padding-top: 1.5%;
    box-shadow: 4px 6px 8px 5px rgb(192, 189, 189);
    margin: 20px;
    height: 180px;
  }
  .anytime-hero .anytime-container .anytime-card .card img {
    width: 137px;
    padding-right: 10px;
    box-shadow: 100px gray;
  }
  .anytime-hero .anytime-container .anytime-card .card p {
    padding-left: 2%;
    color: gray;
  }
  .anytime-hero .anytime-container .anytime-card .card p strong {
    color: black;
  }
  .anytime-hero .anytime-container .anytime-card .card a {
    text-decoration: none;
    color: black;
  }
  .anytime-hero .anytime-container .anytime-card .card a:hover {
    color: lightgray;
    border-bottom: gray solid 2px;
  }
  .anytime-hero .anytime-container .anytime-card .card .add-item {
    background-color: rgb(0, 117, 74);
    font-family: SoDoSans_Light, Helvetica, sans-serif;
    border: rgb(0, 117, 74) solid 1px;
    border-radius: 10%;
    height: 35px;
    width: 80px;
    margin-top: 20%;
  }
  .anytime-hero .anytime-container .anytime-card .card:hover {
    color: lightblue;
    transform: scale(1.2);
    transition: all 0.5s;
  }
  
  footer .footer {
    display: flex;
    background-color: rgb(14, 56, 44);
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5%;
  }
  footer .footer ul {
    list-style: none;
    font-family: SoDoSans_Light, Helvetica, sans-serif;
  }
  footer .footer ul li {
    font-size: 16px;
    padding-bottom: 11%;
  }
  footer .footer ul li strong {
    font-size: 20px;
  }
  footer .footer ul a {
    text-decoration: none;
    color: white;
    font-weight: 10px;
    font-size: 16px;
  }
  footer .footer ul a:hover {
    color: rgba(153, 152, 152, 0.822);
    border-bottom: lightgray solid 2px;
  }
  footer .footer i {
    color: white;
    font-size: 230%;
    padding: 2%;
  }/*# sourceMappingURL=gift(anytime).css.map */